#task-list.container
  %p.align-center
    %span.label
      Red means late!
    Highest: 3 days, high: 10 days, medium: 20 days, low: 30 days.
  = render partial: 'tasks/task_list', locals: {tasks: @tasks}

#modal.modal.fade
